@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/BebasNeue-Regular.ttf);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue";
}
p {
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 400px) {
  .mobilegrad {
    display: none;
  }
  .destop-hero-grad {
    display: block !important;
  }
}
.destop-hero-grad {
  display: none;
}

.third-section,
.bg-cus {
  background-image: url("../images/Vector\ \(3\).png");
  background-repeat: no-repeat;
  background-size: cover;
}
.card-gradient {
  background-image: url("../images/Vector\ \(5\).png");
  background-repeat: no-repeat;
}
@media (max-width: 800px) {
  .cus-align {
    align-items: center;
  }
}

  
.text{
  display: inline;
  width: 100%;
}
  
.read-or-hide{
  color: rgb(192,192,192);
  cursor: pointer;
}
@layer components {
  .btn-primary {
    @apply bg-primary text-white rounded-md py-2 px-5 mt-5 hover:opacity-70 hover:bg-primary;
  }
}
